<div class="d-flex justify-content-center align-items-center flex-column h-100">
    <h1 class="mb-5">CARRITO id: {{id}}</h1>
    <div class="w-100 px-4">
        {{#if products.length}}
        <table class="table table-striped table-dark">
          <thead class="text-center">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">nombre</th>
              <th scope="col">codigo</th>
              <th scope="col">precio</th>
              <th scope="col">categoria</th>
              
              <th scope="col">imagenes</th>
              <th scope="col">cantidad</th>
            </tr>
          </thead>
          <tbody class="text-center">
            {{#each products}}
            <tr>
              <th scope="row">{{this.product._id}}</th>
              <td>{{this.product.title}}</td>
              <td>{{this.product.code}}</td>
              <td>{{this.product.price}}</td>
              <td>{{this.product.category}}</td>
              
              <td>{{this.product.thumbnail}}</td>
              <td>{{this.quantity}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="d-flex justify-content-center p-3">
          <button class="btn btn-success p-3" onclick="generateTicket('{{user.cart}}')">Finalizar compra</button>
          
        </div>
         <div class="d-flex justify-content-center p-3">
          
          <button class="btn btn-success p-3" onclick="cleanCart('{{user.cart}}')">Vaciar carrito</button>
        </div>
        {{else}}
        <h3>El carrito esta vacio!</h3>
        {{/if}}
    </div>

</div>
<script src="/static/js/cart.js"></script>
<script src="/static/js/cleanCart.js"></script>