{{#if user}}
<div class="d-flex flex-column mx-2">
        <h2 class="m-0 text" style="font-size: 15px">{{user.username}}</h2>
        <h3 class="m-0 text" style="font-size: 12px">{{user.email}} </h3>
        <h3 class="m-0 text" style="font-size: 12px">role:{{user.role}} </h3>
        

</div>
<button class="btn btn-warning  p-0 mb-2 mx-auto"><a href="/carts/{{user.cart}}" class="text-decoration-none text-dark "><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg></a>
</button>        
<button class="btn btn-warning h-50 my-auto"><a href="/api/session/logout" class="text-decoration-none text-dark">Log out</a></button>
<div>
    <h1>Listado de Productos</h1>
        {{#each products}}
            <ul>    
                <li>ID: {{this._id}}</li>
                <li>Title: {{this.title}}</li>
                <li>Description: {{this.description}}</li>
                <li>Price: {{this.price}}</li>
                <li>Thumbnails: {{this.thumbnails}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Code: {{this.code}}</li>
                {{#if ../user}}
                <input class="w-10"type="number" class="form-control" id="quantity{{this._id}}" value="1" min="1">
                <button class="btn btn-warning mx-2" onclick="addToCart('{{../user.cart}}', '{{this._id}}')">Agregar producto al carrito</button>
                <hr>
                 {{/if}}
            </ul>
        {{/each}}
</div>
{{else}}
<div>
      <button class="btn btn-warning mx-2"><a href="/login" class="text-decoration-none text-dark">Log In</a></button>
      <button class="btn btn-warning mx-2"><a href="/register" class="text-decoration-none text-dark">Register</a></button>
      <button class="btn btn-warning mx-2"><a href="/realTimeProducts" class="text-decoration-none text-dark">realTimeProducts</a></button>
      <button class="btn btn-warning mx-2"><a href="/chat" class="text-decoration-none text-dark">chat</a></button>
 </div>
 <div>
    <h1>Listado de Productos</h1>
        {{#each products}}
            <ul>    
                <li>ID: {{this._id}}</li>
                <li>Title: {{this.title}}</li>
                <li>Description: {{this.description}}</li>
                <li>Price: {{this.price}}</li>
                <li>Thumbnails: {{this.thumbnails}}</li>
                <li>Stock: {{this.stock}}</li>
                <li>Code: {{this.code}}</li>
                <hr>
            </ul>
        {{/each}}
</div>
  {{/if}}



  <script src="/static/js/addToCart.js"></script>
