<nav class="navbar navbar-light bg-secondary px-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="d-flex">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-person-fill my-auto" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
      {{#if user}}
      <div class="d-flex flex-column mx-2">
        <p class="m-0 " style="font-size: 15px">{{user.username}}</p>
        <p class="m-0 " style="font-size: 12px">{{user.email}} </p>
        <p class="m-0 " style="font-size: 12px">role:{{user.role}} </p>
      </div>
      <button class="btn btn-warning h-50 my-auto"><a href="/api/session/logout" class="text-decoration-none text-dark">Log out</a></button>
      {{else}}
      <div>
      <button class="btn btn-warning mx-2"><a href="/login" class="text-decoration-none text-dark">Log In</a></button>
      </div>
      {{/if}}

  </div>

</nav>


<div class="d-flex justify-content-center align-items-center flex-column">

  <h1 class="mb-5">{{title}}</h1>
  <div class="w-100 px-4">
    {{#if allUsers.length}}
    <table id="tableProduct" class="table table-striped table-secondary">

      <thead class="text-center">
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
          <th scope="col">Firstname</th>
          <th scope="col">#Cart</th>
          <th scope="col">Role</th>
         
          <th scope="col">Last Connection</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody class="text-center">
        {{#each allUsers}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{this.email}}</td>
          <td>{{this.username}}</td>
          <td>{{this.first_name}}</td>
          <td>{{this.cart}}</td>
          <td>{{this.role}}</td>
          
          <td>{{this.last_connection}}</td>
          <td><button class="btn btn-danger p-1" onclick="deleteUser('{{this._id}}')">borrar</button>
          <button class="btn btn-warning p-1" onclick="changeRole('{{this._id}}')">change Role</button></td>
        </tr>
        {{/each}}
      </tbody>

    </table>

    {{else}}
    <h3>No hay usuarios para mostrar!</h3>
    {{/if}}
  </div>
   <script src="/static/js/deleteUser.js"></script>
   <script src="/static/js/changeRole.js"></script>